* {
    box-sizing: border-box;
}

.navbar {
    display: flex;
    background-color:rgb(43, 44, 43);
}

.info {
    display: flex;
    padding: 1%;
}

.cardimage { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.navbar a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    color:white;
    padding: 1% 2% 1% 2%;
	text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: #4dff4d;
    color: #001a00;
	font-weight: bold;
}

.row {  
    display: flex;
    flex-wrap: wrap;
}

.side {
    flex: 15%;
    text-align: center;
    padding: 2% 1% 2% 1%;
}

.main {
    flex: 70%;
	text-align: justify;
	margin-right: 2%;
    margin-left: 2%;
    padding: 10px;
}

footer {
    padding: 10px;
    text-align: center;
    background: #a9bdad;
}

.logincontainer {
    padding: 5% 30% 5% 30%;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  form {
    border: 3px solid #f1f1f1;
  }

  button {
    background-color:#ebfde7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;
    font-weight: bold;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    cursor: pointer;
    width: 100%;
  }

  label {
    font-family: Arial, Helvetica, sans-serif;
  }

  body#login {
    /* background-image: url("./img/tree-background.jpg"); na chuj to sie milion godzin ładuje?! */
    background-color: #006666;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

html, 
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #001a00;
    margin: 0;

    /* background-image: url("./img/bcg.jpg"); jak wyżej, reeeeeeeeee */
    background-color: #006666;
    background-position: center;
    background-repeat: repeat-x;
    background-size: cover;
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 400%;
    color:rgb(1, 24, 6);
}

h2{
    padding-left: 1%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 90%;
}